{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <i class="fa fa-globe fa-10x" style="color:darkorange"></i>
    <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
    <i class="fa fa-map-marker fa-10x" style="color:gold"></i>
  </div>
</div>
