<form class="box" action="/placemark/{{placemark._id}}/adddetail" method="POST">
  <label>Enter Placemark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Placemark Name" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
      </div>
       <div class="field">
        <input class="input" type="text" placeholder="Enter Review" name="review">
      </div>
       <div class="field">
        <label class="checkbox">
          <input type="checkbox" name="state" value="true">
          Make it Private
        </label>
        <label class="checkbox">
          <input type="checkbox" name="state" value="false">
          Make it Public
        </label>
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Placemark</button>
</form>
